<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        td {
            text-align: right;
        }
    </style>

</head>
<body>

<table>
    <tbody>
    {% for profile in profiles %}
    <tr>
        <td>{{profile.first_name}} {{profile.last_name}}</td>
        <td>{{profile.birth_date|date:"d.m.Y"}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>